In [1]:
import numpy as np
import pandas as pd

import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

WARNING:tensorflow:From c:\Users\Simon\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
dataframe = pd.read_csv("train.csv")
dataframe.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [3]:
dataframe['Gender'].replace(['Male','Female'],[0,1], inplace=True)

In [4]:
dataframe['Geography'].replace(['France', 'Spain', 'Germany'],[0,1,2], inplace=True)

In [5]:
train_df = dataframe.copy()
train_df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,0,0,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,0,0,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,0,0,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,0,0,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,1,0,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [6]:
train_features = train_df[["CreditScore","Geography","Gender","Age","Tenure","Balance","NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary","Exited"]]
train_features

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668,0,0,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,627,0,0,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,678,0,0,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,581,0,0,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,716,1,0,33.0,5,0.00,2,1.0,1.0,15068.83,0
...,...,...,...,...,...,...,...,...,...,...,...
165029,667,1,1,33.0,2,0.00,1,1.0,1.0,131834.75,0
165030,792,0,0,35.0,3,0.00,1,0.0,0.0,131834.45,0
165031,565,0,0,31.0,5,0.00,1,1.0,1.0,127429.56,0
165032,554,1,1,30.0,7,161533.00,1,0.0,1.0,71173.03,0
165033,850,0,0,31.0,1,0.00,1,1.0,0.0,61581.79,1

In [7]:
train, test = train_test_split(train_features, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

105621 train examples
26406 validation examples
33007 test examples

In [8]:
def df_to_dataset(train_features, shuffle=True, batch_size=32):
  train_features = train_features.copy()
  labels = train_features.pop('Exited')
  ds = tf.data.Dataset.from_tensor_slices((dict(train_features), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  return ds

In [9]:
batch_size = 500 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [10]:
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))

Every feature: ['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']

In [11]:
example_batch = next(iter(train_ds))[0]

In [12]:
def demo(feature_column):
  feature_layer = layers.DenseFeatures(feature_column)
  print(feature_layer(example_batch).numpy())

In [13]:
feature_columns = []

for header in ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']:
    feature_columns.append(tf.feature_column.numeric_column(header))
    
feature_columns

WARNING:tensorflow:From C:\Users\Simon\AppData\Local\Temp\ipykernel_15248\2071367032.py:4: numeric_column (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
Use Keras preprocessing layers instead, either directly or via the `tf.keras.utils.FeatureSpace` utility. Each of `tf.feature_column.*` has a functional equivalent in `tf.keras.layers` for feature preprocessing when training a Keras model.

[NumericColumn(key='CreditScore', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Tenure', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Balance', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='NumOfProducts', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='HasCrCard', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='IsActiveMember', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='EstimatedSalary', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [14]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

WARNING:tensorflow:From c:\Users\Simon\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [15]:
batch_size = 105621 
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [17]:
model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(128, activation='relu'),
  layers.Dense(128, activation='relu'),
  layers.Dropout(.1),
  layers.Dense(1)
])

model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              metrics=['accuracy'])

model.fit(train_ds,
          validation_data=val_ds,
          epochs=100)

Epoch 1/100

1/1 [==============================] - 2s 2s/step - loss: 7292.1416 - accuracy: 0.2667 - val_loss: 2317.9624 - val_accuracy: 0.5921
Epoch 2/100
1/1 [==============================] - 1s 1s/step - loss: 2597.2881 - accuracy: 0.5918 - val_loss: 1589.4373 - val_accuracy: 0.7849
Epoch 3/100
1/1 [==============================] - 1s 993ms/step - loss: 1824.1511 - accuracy: 0.7526 - val_loss: 2797.2085 - val_accuracy: 0.7849
Epoch 4/100
1/1 [==============================] - 1s 1000ms/step - loss: 2736.3687 - accuracy: 0.7858 - val_loss: 3393.4377 - val_accuracy: 0.7849
Epoch 5/100
1/1 [==============================] - 1s 981ms/step - loss: 3309.5681 - accuracy: 0.7889 - val_loss: 3559.2546 - val_accuracy: 0.7849
Epoch 6/100
1/1 [==============================] - 1s 981ms/step - loss: 3475.6428 - accuracy: 0.7890 - val_loss: 3421.4792 - val_accuracy: 0.7849
Epoch 7/100
1/1 [==============================] - 1s 994ms/step - loss: 3336.9375 - accuracy: 0.7890 - val_loss: 3065.5256 - val_accuracy: 0.7849
Epoch 8/100
1/1 [==============================] - 1s 983ms/step - loss: 2988.8984 - accuracy: 0.7884 - val_loss: 2550.5063 - val_accuracy: 0.7849
Epoch 9/100
1/1 [==============================] - 1s 987ms/step - loss: 2499.2065 - accuracy: 0.7851 - val_loss: 1918.1816 - val_accuracy: 0.7849
Epoch 10/100
1/1 [==============================] - 1s 999ms/step - loss: 1952.4104 - accuracy: 0.7750 - val_loss: 1210.2305 - val_accuracy: 0.7849
Epoch 11/100
1/1 [==============================] - 1s 979ms/step - loss: 1490.9856 - accuracy: 0.7413 - val_loss: 692.3738 - val_accuracy: 0.6641
Epoch 12/100
1/1 [==============================] - 1s 973ms/step - loss: 1412.4429 - accuracy: 0.6729 - val_loss: 1090.9174 - val_accuracy: 0.6093
Epoch 13/100
1/1 [==============================] - 1s 997ms/step - loss: 1726.5239 - accuracy: 0.5825 - val_loss: 1284.3295 - val_accuracy: 0.5879
Epoch 14/100
1/1 [==============================] - 1s 975ms/step - loss: 2032.6854 - accuracy: 0.5127 - val_loss: 1073.1864 - val_accuracy: 0.5874
Epoch 15/100
1/1 [==============================] - 1s 982ms/step - loss: 1938.7258 - accuracy: 0.4999 - val_loss: 570.5624 - val_accuracy: 0.6239
Epoch 16/100
1/1 [==============================] - 1s 977ms/step - loss: 1538.0782 - accuracy: 0.5491 - val_loss: 405.2146 - val_accuracy: 0.7849
Epoch 17/100
1/1 [==============================] - 1s 984ms/step - loss: 1215.3069 - accuracy: 0.6334 - val_loss: 845.0886 - val_accuracy: 0.7849
Epoch 18/100
1/1 [==============================] - 1s 979ms/step - loss: 1182.6757 - accuracy: 0.7044 - val_loss: 1194.9586 - val_accuracy: 0.7849
Epoch 19/100
1/1 [==============================] - 1s 983ms/step - loss: 1334.1545 - accuracy: 0.7428 - val_loss: 1409.5907 - val_accuracy: 0.7849
Epoch 20/100
1/1 [==============================] - 1s 979ms/step - loss: 1487.1404 - accuracy: 0.7552 - val_loss: 1481.5232 - val_accuracy: 0.7849
Epoch 21/100
1/1 [==============================] - 1s 982ms/step - loss: 1543.1672 - accuracy: 0.7589 - val_loss: 1421.6586 - val_accuracy: 0.7849
Epoch 22/100
1/1 [==============================] - 1s 970ms/step - loss: 1496.4567 - accuracy: 0.7541 - val_loss: 1250.9005 - val_accuracy: 0.7849
Epoch 23/100
1/1 [==============================] - 1s 964ms/step - loss: 1386.4855 - accuracy: 0.7380 - val_loss: 996.2094 - val_accuracy: 0.7849
Epoch 24/100
1/1 [==============================] - 1s 972ms/step - loss: 1251.3490 - accuracy: 0.7045 - val_loss: 700.4760 - val_accuracy: 0.7849
Epoch 25/100
1/1 [==============================] - 1s 981ms/step - loss: 1168.2010 - accuracy: 0.6561 - val_loss: 422.8207 - val_accuracy: 0.7849
Epoch 26/100
1/1 [==============================] - 1s 974ms/step - loss: 1188.4325 - accuracy: 0.5974 - val_loss: 251.6893 - val_accuracy: 0.7639
Epoch 27/100
1/1 [==============================] - 1s 980ms/step - loss: 1265.5526 - accuracy: 0.5578 - val_loss: 233.7534 - val_accuracy: 0.7529
Epoch 28/100
1/1 [==============================] - 1s 979ms/step - loss: 1249.8157 - accuracy: 0.5596 - val_loss: 312.7598 - val_accuracy: 0.7528
Epoch 29/100
1/1 [==============================] - 1s 966ms/step - loss: 1176.0217 - accuracy: 0.5973 - val_loss: 445.9998 - val_accuracy: 0.7621
Epoch 30/100
1/1 [==============================] - 1s 980ms/step - loss: 1104.1755 - accuracy: 0.6467 - val_loss: 600.0911 - val_accuracy: 0.7722
Epoch 31/100
1/1 [==============================] - 1s 979ms/step - loss: 1094.6033 - accuracy: 0.6856 - val_loss: 755.3484 - val_accuracy: 0.7849
Epoch 32/100
1/1 [==============================] - 1s 984ms/step - loss: 1131.9308 - accuracy: 0.7079 - val_loss: 858.9550 - val_accuracy: 0.7849
Epoch 33/100
1/1 [==============================] - 1s 968ms/step - loss: 1139.2313 - accuracy: 0.7264 - val_loss: 893.3889 - val_accuracy: 0.7849
Epoch 34/100
1/1 [==============================] - 1s 987ms/step - loss: 1149.8212 - accuracy: 0.7292 - val_loss: 858.1606 - val_accuracy: 0.7849
Epoch 35/100
1/1 [==============================] - 1s 989ms/step - loss: 1117.2126 - accuracy: 0.7271 - val_loss: 763.7796 - val_accuracy: 0.7849
Epoch 36/100
1/1 [==============================] - 1s 974ms/step - loss: 1059.7816 - accuracy: 0.7170 - val_loss: 628.9151 - val_accuracy: 0.7849
Epoch 37/100
1/1 [==============================] - 1s 988ms/step - loss: 1017.7402 - accuracy: 0.6988 - val_loss: 484.6697 - val_accuracy: 0.7849
Epoch 38/100
1/1 [==============================] - 1s 974ms/step - loss: 1000.3430 - accuracy: 0.6704 - val_loss: 367.3110 - val_accuracy: 0.7849
Epoch 39/100
1/1 [==============================] - 1s 969ms/step - loss: 1018.4612 - accuracy: 0.6380 - val_loss: 310.8759 - val_accuracy: 0.7849
Epoch 40/100
1/1 [==============================] - 1s 1s/step - loss: 1031.5544 - accuracy: 0.6164 - val_loss: 331.6960 - val_accuracy: 0.7849
Epoch 41/100
1/1 [==============================] - 1s 983ms/step - loss: 1022.2960 - accuracy: 0.6187 - val_loss: 417.8242 - val_accuracy: 0.7849
Epoch 42/100
1/1 [==============================] - 1s 993ms/step - loss: 978.9311 - accuracy: 0.6395 - val_loss: 534.2820 - val_accuracy: 0.7849
Epoch 43/100
1/1 [==============================] - 1s 1s/step - loss: 962.4321 - accuracy: 0.6649 - val_loss: 640.9714 - val_accuracy: 0.7849
Epoch 44/100
1/1 [==============================] - 1s 980ms/step - loss: 962.9326 - accuracy: 0.6898 - val_loss: 704.4807 - val_accuracy: 0.7849
Epoch 45/100
1/1 [==============================] - 1s 991ms/step - loss: 975.2021 - accuracy: 0.7044 - val_loss: 710.7125 - val_accuracy: 0.7849
Epoch 46/100
1/1 [==============================] - 1s 978ms/step - loss: 967.6306 - accuracy: 0.7080 - val_loss: 659.3116 - val_accuracy: 0.7849
Epoch 47/100
1/1 [==============================] - 1s 984ms/step - loss: 932.3469 - accuracy: 0.7044 - val_loss: 566.3096 - val_accuracy: 0.7849
Epoch 48/100
1/1 [==============================] - 1s 970ms/step - loss: 906.0771 - accuracy: 0.6877 - val_loss: 461.4722 - val_accuracy: 0.7849
Epoch 49/100
1/1 [==============================] - 1s 982ms/step - loss: 889.6899 - accuracy: 0.6703 - val_loss: 372.6155 - val_accuracy: 0.7849
Epoch 50/100
1/1 [==============================] - 1s 980ms/step - loss: 898.9763 - accuracy: 0.6499 - val_loss: 330.0939 - val_accuracy: 0.7849
Epoch 51/100
1/1 [==============================] - 1s 968ms/step - loss: 895.3191 - accuracy: 0.6413 - val_loss: 343.6454 - val_accuracy: 0.7849
Epoch 52/100
1/1 [==============================] - 1s 977ms/step - loss: 885.4841 - accuracy: 0.6448 - val_loss: 400.6882 - val_accuracy: 0.7849
Epoch 53/100
1/1 [==============================] - 1s 966ms/step - loss: 855.1437 - accuracy: 0.6632 - val_loss: 472.7546 - val_accuracy: 0.7849
Epoch 54/100
1/1 [==============================] - 1s 979ms/step - loss: 845.6395 - accuracy: 0.6792 - val_loss: 530.5229 - val_accuracy: 0.7849
Epoch 55/100
1/1 [==============================] - 1s 974ms/step - loss: 837.2112 - accuracy: 0.6933 - val_loss: 552.2367 - val_accuracy: 0.7849
Epoch 56/100
1/1 [==============================] - 1s 985ms/step - loss: 835.7433 - accuracy: 0.6987 - val_loss: 534.2250 - val_accuracy: 0.7849
Epoch 57/100
1/1 [==============================] - 1s 990ms/step - loss: 819.8723 - accuracy: 0.6921 - val_loss: 483.9241 - val_accuracy: 0.7849
Epoch 58/100
1/1 [==============================] - 1s 988ms/step - loss: 809.6154 - accuracy: 0.6788 - val_loss: 421.7402 - val_accuracy: 0.7849
Epoch 59/100
1/1 [==============================] - 1s 984ms/step - loss: 796.7064 - accuracy: 0.6637 - val_loss: 370.4002 - val_accuracy: 0.7849
Epoch 60/100
1/1 [==============================] - 1s 974ms/step - loss: 787.4814 - accuracy: 0.6476 - val_loss: 350.6385 - val_accuracy: 0.7849
Epoch 61/100
1/1 [==============================] - 1s 971ms/step - loss: 779.8973 - accuracy: 0.6422 - val_loss: 366.0281 - val_accuracy: 0.7849
Epoch 62/100
1/1 [==============================] - 1s 978ms/step - loss: 763.5814 - accuracy: 0.6517 - val_loss: 401.7345 - val_accuracy: 0.7849
Epoch 63/100
1/1 [==============================] - 1s 972ms/step - loss: 754.8419 - accuracy: 0.6665 - val_loss: 438.4928 - val_accuracy: 0.7849
Epoch 64/100
1/1 [==============================] - 1s 983ms/step - loss: 741.5366 - accuracy: 0.6823 - val_loss: 458.6241 - val_accuracy: 0.7849
Epoch 65/100
1/1 [==============================] - 1s 958ms/step - loss: 736.6660 - accuracy: 0.6899 - val_loss: 445.9065 - val_accuracy: 0.7849
Epoch 66/100
1/1 [==============================] - 1s 964ms/step - loss: 725.3182 - accuracy: 0.6911 - val_loss: 406.5494 - val_accuracy: 0.7849
Epoch 67/100
1/1 [==============================] - 1s 978ms/step - loss: 718.5314 - accuracy: 0.6835 - val_loss: 378.5561 - val_accuracy: 0.7849
Epoch 68/100
1/1 [==============================] - 1s 978ms/step - loss: 705.5607 - accuracy: 0.6758 - val_loss: 358.0967 - val_accuracy: 0.7849
Epoch 69/100
1/1 [==============================] - 1s 968ms/step - loss: 694.7188 - accuracy: 0.6680 - val_loss: 345.7061 - val_accuracy: 0.7849
Epoch 70/100
1/1 [==============================] - 1s 959ms/step - loss: 679.6967 - accuracy: 0.6616 - val_loss: 343.6845 - val_accuracy: 0.7849
Epoch 71/100
1/1 [==============================] - 1s 974ms/step - loss: 673.5208 - accuracy: 0.6587 - val_loss: 357.1957 - val_accuracy: 0.7849
Epoch 72/100
1/1 [==============================] - 1s 994ms/step - loss: 662.2311 - accuracy: 0.6639 - val_loss: 374.8988 - val_accuracy: 0.7849
Epoch 73/100
1/1 [==============================] - 1s 984ms/step - loss: 654.1581 - accuracy: 0.6713 - val_loss: 383.3402 - val_accuracy: 0.7849
Epoch 74/100
1/1 [==============================] - 1s 982ms/step - loss: 639.8137 - accuracy: 0.6797 - val_loss: 376.6088 - val_accuracy: 0.7849
Epoch 75/100
1/1 [==============================] - 1s 1s/step - loss: 627.9324 - accuracy: 0.6796 - val_loss: 355.3666 - val_accuracy: 0.7849
Epoch 76/100
1/1 [==============================] - 1s 972ms/step - loss: 615.6929 - accuracy: 0.6775 - val_loss: 328.9687 - val_accuracy: 0.7849
Epoch 77/100
1/1 [==============================] - 1s 989ms/step - loss: 610.9279 - accuracy: 0.6708 - val_loss: 309.6342 - val_accuracy: 0.7849
Epoch 78/100
1/1 [==============================] - 1s 993ms/step - loss: 592.4744 - accuracy: 0.6680 - val_loss: 301.7797 - val_accuracy: 0.7849
Epoch 79/100
1/1 [==============================] - 1s 970ms/step - loss: 596.5729 - accuracy: 0.6654 - val_loss: 306.7668 - val_accuracy: 0.7849
Epoch 80/100
1/1 [==============================] - 1s 992ms/step - loss: 574.6069 - accuracy: 0.6708 - val_loss: 317.5935 - val_accuracy: 0.7849
Epoch 81/100
1/1 [==============================] - 1s 981ms/step - loss: 567.3588 - accuracy: 0.6741 - val_loss: 326.5566 - val_accuracy: 0.7849
Epoch 82/100
1/1 [==============================] - 1s 978ms/step - loss: 556.2534 - accuracy: 0.6785 - val_loss: 322.1529 - val_accuracy: 0.7849
Epoch 83/100
1/1 [==============================] - 1s 969ms/step - loss: 546.2368 - accuracy: 0.6787 - val_loss: 303.4804 - val_accuracy: 0.7849
Epoch 84/100
1/1 [==============================] - 1s 982ms/step - loss: 537.6954 - accuracy: 0.6706 - val_loss: 282.8277 - val_accuracy: 0.7849
Epoch 85/100
1/1 [==============================] - 1s 988ms/step - loss: 526.6339 - accuracy: 0.6635 - val_loss: 273.3259 - val_accuracy: 0.7849
Epoch 86/100
1/1 [==============================] - 1s 1s/step - loss: 513.5598 - accuracy: 0.6643 - val_loss: 274.8111 - val_accuracy: 0.7849
Epoch 87/100
1/1 [==============================] - 1s 979ms/step - loss: 507.1674 - accuracy: 0.6717 - val_loss: 279.4903 - val_accuracy: 0.7849
Epoch 88/100
1/1 [==============================] - 1s 988ms/step - loss: 492.8864 - accuracy: 0.6771 - val_loss: 278.3086 - val_accuracy: 0.7849
Epoch 89/100
1/1 [==============================] - 1s 982ms/step - loss: 486.5251 - accuracy: 0.6793 - val_loss: 268.7554 - val_accuracy: 0.7849
Epoch 90/100
1/1 [==============================] - 1s 973ms/step - loss: 475.3611 - accuracy: 0.6774 - val_loss: 255.1382 - val_accuracy: 0.7849
Epoch 91/100
1/1 [==============================] - 1s 994ms/step - loss: 467.3429 - accuracy: 0.6678 - val_loss: 249.2522 - val_accuracy: 0.7849
Epoch 92/100
1/1 [==============================] - 1s 975ms/step - loss: 456.0187 - accuracy: 0.6688 - val_loss: 248.8777 - val_accuracy: 0.7849
Epoch 93/100
1/1 [==============================] - 1s 982ms/step - loss: 449.1769 - accuracy: 0.6689 - val_loss: 252.7404 - val_accuracy: 0.7849
Epoch 94/100
1/1 [==============================] - 1s 988ms/step - loss: 438.8058 - accuracy: 0.6753 - val_loss: 249.8522 - val_accuracy: 0.7849
Epoch 95/100
1/1 [==============================] - 1s 986ms/step - loss: 423.1487 - accuracy: 0.6800 - val_loss: 236.3727 - val_accuracy: 0.7849
Epoch 96/100
1/1 [==============================] - 1s 970ms/step - loss: 414.8516 - accuracy: 0.6740 - val_loss: 220.0793 - val_accuracy: 0.7849
Epoch 97/100
1/1 [==============================] - 1s 977ms/step - loss: 407.2673 - accuracy: 0.6678 - val_loss: 213.1634 - val_accuracy: 0.7849
Epoch 98/100
1/1 [==============================] - 1s 972ms/step - loss: 393.5817 - accuracy: 0.6674 - val_loss: 217.4898 - val_accuracy: 0.7849
Epoch 99/100
1/1 [==============================] - 1s 995ms/step - loss: 386.0816 - accuracy: 0.6749 - val_loss: 218.2187 - val_accuracy: 0.7849
Epoch 100/100
1/1 [==============================] - 1s 978ms/step - loss: 380.3007 - accuracy: 0.6753 - val_loss: 215.2751 - val_accuracy: 0.7849

In [18]:
loss, accuracy = model.evaluate(test_ds)
print("Accuracy", accuracy)

1/1 [==============================] - 0s 160ms/step - loss: 212.6274 - accuracy: 0.7877
Accuracy 0.787742018699646